.recipe {
  position: relative;

  &-background {
    position: absolute;

    &-container {
      display: flex;
      height: 100%;
      position: relative;
    }

    &-image {
      flex: 1 0 auto;
    }

    &-overlay {
      background: #000;
      opacity: .7;
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  &-content {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;

    &-title {
      color: #fff;
      text-align: center;
      padding: 10px;
      font-size: 30px;
    }

    &-link {
      padding: 10px;
    }
  }

  &-ingredients {
    padding: 10px;
    flex: 1 0 auto;

    &-line {
      color: #fff;
      font-size: 17px;
    }
  }
}
