$space: 5px;
$color: #fff;
$font-size: 15px;

.tag-wrapper {
  background: brown;
  display: flex;
  flex-direction: row;
  margin: $space;
  padding: $space;
  border-radius: 10px;

  &-name {
    color: $color;
    font-size: $font-size;
  }

  &-cross {
    color: $color;
    margin: 0 3px;
    font-size: $font-size;
    font-weight: 900;
  }
}
